body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    font-size: 36px;
    color: #333;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 250px;
}

button:hover {
    background-color: #45a049;
}